<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h1 class="h2">Hello! Welcome to TODO task application. Please login in to see tasks.</h1>
</div>
