<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Editing Todo</h1>
</div>

<%= render 'form', todo: @todo %>

<%= link_to 'Show', project_todo_path(@project, @todo) %> |
<%= link_to 'Back', project_todos_path(@project) %>
